html,
body {
  min-width: 960px;
  /*высота макета 1173*/
  margin: 0;
  padding: 0;
}

body{
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header {
  margin-bottom: 30px;
  /*Разметка*/
  min-height: 70px;

}
.container{
	width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  /*Разметка*/
}
.main-navigation {
  float: left;
  width: 780px;
  /*Разметка*/
  min-height: 70px;
}

.user-block {
	float: right;
  width: 140px;
  /*Разметка*/
  min-height: 70px;
}
.main-navigation ul li,
.breadcrumb-nav ul li{
  display: inline;
}

.breadcrumb-nav{
  float: left;
  width: 100%;
  margin-bottom: 20px;
  /*Разметка*/
  min-height: 70px;
}
.selection{
  float: left;
  width: 250px;
  height: 510px;
  margin-right: 10px;
}
.goods-list{
  float: left;
  width: 630px;
  height: 510px;
}

.product-block{
  display: inline-block;
  width: 190px;
  height: 240px;
  margin: 5px;
}

.pagination{
  float: left;
  width: 100%;
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}

.main-footer{
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer-contacts{
  float: left;
  width: 320px;
  margin-right: 60px;
  /*Разметка*/
  min-height: 90px;
}
.footer-social{
  float: left;
  width: 180px;
  /*Разметка*/
  min-height: 90px;
}

.footer-copyright{
  float: right;
  width: 180px;
  /*Разметка*/
  min-height: 90px;
}
